page-login {
    .background{
        background-color: white;
    }
    .img-footer-good{
        float: right;
        //margin-bottom: 0;
        //position: absolute;
        height: 100%;
      }

      .text-login{
        border-radius: 40px;
        background: transparent;
        border-width: 0.5px;
        border-color: white;
        border-style: groove;
        margin-left: 35%;
        width: 30%;
        text-align: center;
      }
}
