page-login {
    .background{
        background-color: white;
    }
    .img-footer-good{
        float: right;
        //margin-bottom: 0;
        //position: absolute;
        height: 100%;
      }
}
