<ion-header>

  <ion-navbar style="padding: inherit !important;position: relative !important;">
    <ion-title style="padding: inherit !important;position: relative !important;">
      <p>
        <img src="../assets/imgs/logo-dr.reddys.png" class="img-logo-topo-drreddys" />

        <br/>
        <u>
          <b>OPORTUNIDADES</b> DE NEGOCIOS</u>
        <br/>
        <b>ONCOCLINICAS</b>

      </p>
      <hr/>
    </ion-title>

    <img src="../assets/icon/clinicas-icon-1.png" (click)="selecionarClinica()" class="img-botao-topo-1">
    <img src="../assets/icon/produtos-icon-1.png" style="filter: sepia(50%)grayscale(70%)brightness(160%);" class="img-botao-topo-2">

    <img src="../assets/icon/comparativo-icon-1.png" (click)="realizarComparativo()" class="img-botao-topo-3">

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-searchbar style="width:30%;" (ionInput)="filterMedicamentos($event)" [(ngModel)]="textoBuscaMedicamento"></ion-searchbar>
  <ion-list style="width:30%;">
    <ion-card *ngFor="let medicamentos of medicamentosList">
      <h1>
        <ion-checkbox class="checkbox-royal" [(ngModel)]="medicamentos.medicamento.selecionado" (ionChange)="checkMedicamento(medicamentos.medicamento.nome,medicamentos.medicamento.selecionado)"></ion-checkbox>
        {{ medicamentos.medicamento.nome }}</h1>
      <h5 *ngFor="let medicamento of medicamentos.medicamento.laboratoriosMedicamento" style="padding-left: 22px;">{{medicamento.nome}}</h5>
    </ion-card>
    <hr/>
  </ion-list>
</ion-content>