page-home {
.background{
    background-color: color($colors, roxo);
}
.div-bottom{
    margin-bottom: 0;
    position: absolute;
    float: right;
}
.img-footer-good{
    float: right;
    //margin-bottom: 0;
    //position: absolute;
    height: 100%;
  }
}
