// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face {
  font-family: DRLCircular-Bold;
  src: url(../assets/fonts/DRLCircular-CondensedBook.ttf) format("truetype");
  font-weight: 200;  
  }

  $font-family-md-base: "DRLCircular-Bold";
  $font-family-ios-base: "DRLCircular-Bold";
  $font-family-wp-base: "DRLCircular-Bold";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  roxo:       #522e91,
  laranja:    #f06624,
  rosa:       #fce8de,
  cinza:      #dbdede
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.default";
.body{
  padding-left: 20px !important;
}

.body, h1,h2,h3,h5, p {
  color: color($colors, roxo) !important;
}
.h4 {
  color:white!important;
}



.especial-card{
  border-left-width: 9px !important;
  border-left-color:color($colors, laranja) !important;
  border-left-style: outset !important;
  border-bottom-color: color($colors, laranja) !important;
  padding: 5px;
}
.especial-card-h1{
  color: color($colors, laranja) !important;
  font-size: 30px !important;
}

.purple-card{
  border-left-width: 9px !important;
  border-left-color:color($colors, roxo) !important;
  border-left-style: outset !important;
  border-bottom-color: color($colors, roxo) !important;
  padding: 5px;
}
.purple-card-h1{
  color: color($colors, roxo) !important;
  font-size: 35px !important;
}

.normal-card{
  border-left-width: 9px !important;
  border-left-color: gray !important;
  border-left-style: outset !important;
  padding: 5px;
}

.especial-card-text-block{
  text-align : center;
  font-size: 17px;
  color: gray;
  border-radius: 5px;
  border-color: #f06624;
  border-style: none;
  width: 90%;
  text-align: center;
  padding: 0 0 0 0;
  background-color: #fce8de;
}

.especial-card-text-normal{
  color: color($colors, laranja) !important;
  font-size: 35px !important;
}

.barra-topo-roxo{
  height: 224.5px!important;
  background-image: url(../assets/icon/barra-cabecalho-roxo.png)!important;
  background-size: 100% 224.5px !important;  
  background-repeat: no-repeat !important;
  padding-top: 40px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.barra-topo-branco{
  height: 75.5px!important;
}

.img-logo-topo-drreddys{
  float: left;
  height: 52.1px !important;
  width: 240px !important;
}

.img-logo-topo-sonred{  
  height: 40px !important;
  width: 176px !important;
}

.img-logo-topo-perfil{
  float: right;
  height: 52.1px !important;  
}
.linha-branca-topo{
  width:100% !important;
  color:white !important;
}

.img-botao-topo-1, .img-botao-topo-2, .img-botao-topo-3{
  z-index:1;
  margin: -54.5px 0px 0px 0px;
  height: 109px!important;
  width: 109px!important;
}
.flutuando{
  float:left;
}
.img-botao-topo-3{
  float: right;
}
.imagem-topo-branco-primeira, .imagem-topo-branco-segunda{
  float: left;
}

.imagem-topo-branco-primeira{
  padding-left: 20px;
}
.imagem-topo-branco-segunda{
  padding-left: 21.4px;
}

.imagem-topo-branco-direita{
  float: right;
  padding-right: 20px;
}
.div-linha-branca{
  padding-top: 70px;
  width: 100%;
  border-bottom: white;
  border-bottom-style: inset;
  border-bottom-width: 2px;
  text-align: center
}

.trinta{
  width: 30%;
}

.quarenta{
  width: 40%;
}
.umterco {
  width: 33%;
}

.alinhar-centro{
  text-align: center;
}


.textbox-redondo-e-branco{
  position: relative;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    padding: 14px 22px 16px 22px;
    border: solid 1px #FFF;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
