// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face {
  font-family: DRLCircular-Bold;
  src: url(../assets/fonts/DRLCircular-CondensedBook.ttf) format("truetype");
  font-weight: 200;  
  }

  $font-family-md-base: "DRLCircular-Bold";
  $font-family-ios-base: "DRLCircular-Bold";
  $font-family-wp-base: "DRLCircular-Bold";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  roxo:       #522e91,
  laranja:    #f06624,
  rosa:       #fce8de,
  cinza:      #dbdede
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.default";
.body{
  padding: 35px,10,5px,10px !important; 
}

.body, h1,h2,h3,h4,h5, p {
  color: color($colors, roxo) !important;
  
}


.especial-card{
  border-left-width: 9px !important;
  border-left-color:color($colors, laranja) !important;
  border-left-style: outset !important;
  border-bottom-color: color($colors, laranja) !important;
  padding: 5px;
}
.especial-card-h1{
  color: color($colors, laranja) !important;
  font-size: 30px !important;
}

.purple-card{
  border-left-width: 9px !important;
  border-left-color:color($colors, roxo) !important;
  border-left-style: outset !important;
  border-bottom-color: color($colors, roxo) !important;
  padding: 5px;
}
.purple-card-h1{
  color: color($colors, roxo) !important;
  font-size: 35px !important;
}

.normal-card{
  border-left-width: 9px !important;
  border-left-color: gray !important;
  border-left-style: outset !important;
  padding: 5px;
}

.especial-card-text-block{
  text-align : center;
  font-size: 17px;
  color: gray;
  border-radius: 5px;
  border-color: #f06624;
  border-style: none;
  width: 90%;
  text-align: center;
  padding: 0 0 0 0;
  background-color: #fce8de;
}

.especial-card-text-normal{
  color: color($colors, laranja) !important;
  font-size: 35px !important;
}

.header {
    display: inline-block !important;
    height: 240px !important;
    position: relative !important;
    //background-color: #522e91 !important;
    border-width: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
    color:  white !important;
    z-index:2 !important;
    
}

.toolbar-background , .toolbar-background-md{
  background: linear-gradient(#522e91 70%,white 50%) !important;
}
.toolbar-title, .toolbar-title-md{
  padding-top: 15px!important;
}
.toolbar-ios, .ion-title{
    
    padding: inherit !important;
    position: relative !important;
    /* width: 100%; */
    /* height: 100%; */
    /* -webkit-transform: translateZ(0); */
    /* transform: translateZ(0); */
    /* pointer-events: none; */
}


.toolbar-title, .toolbar-title-md, .title, .title-md > div > p {
  color: white !important;// color($colors, white) !important;
  z-index:2 !important;
  text-align: center;
}

.title-md > div > hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

.espaco-botoes-principais{
  text-align: center;
  margin: 0;
  padding: 0;
  border-width: 0;
  z-index:2;
}
.espaco-botoes-principais-local-secundario{
  display: inline-block;
  height: 220px;
  margin: 0;
  padding: 0;
  border-width: 0;
  z-index:2;
}

.img-botao-topo-1, .img-botao-topo-2, .img-botao-topo-3{
  border-radius: 50%;
  border-radius: 100%;
  border: 1px solid #e6dcdc;
  z-index:1;
  margin: -10px 0px 0px 0px;
  height: 110px!important;
}
.img-botao-topo-3{
  float: right;
}

.img-logo-topo-drreddys{
  float: left;
  height: 50px !important;
}

.img-logo-topo-perfil{
  float: right;
  height: 50px !important;
}

.img-logo-topo-sonred{  
}

.umterco {
  width: 33%;
}


.textbox-redondo-e-branco{
  position: relative;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    padding: 14px 22px 16px 22px;
    border: solid 1px #FFF;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.overlay-image-button{

}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
